{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/loginpage.css' %}">
  
    <title>Reachme|Login</title>
    <style>
      .errorlist nonfield
      {
        color: red;
      }
    </style>

</head>
<body>

    <div class="login-section"> 
      {% if messages %}
      {% for message in messages %}
      {% if message.tags == 'success' %}
      <div class="alert alert-success" style="text-align: center;" role="alert">
          {{message}}
      </div>
      {% endif %}
      {% if message.tags == 'error' %}
      <div class="alert alert-danger" style="text-align: center;" role="alert">
          {{message}}
      </div>
      {% endif %}
      {% endfor %}
      {% endif %}

        <div class="login-section-form">
            <h4>Login</h4>
            <form method="POST">
                <div class="form-group">
                  {% csrf_token %}
                  {{ form.as_p }}
                <input id="submit-btn" type="submit" value="Login"><br>
                <a href="/user/register/" id="create-account">Create Account</a>
              </form>
        </div>
        <div class="login-reset">
          <a href="/user/accounts/password_reset/" class="text-center"><i class="fa fa-key"></i>Forget password</a>
        </div>
    </div>
    <a href="/">
      <h6 class="back-option"><i class="fa fa-arrow-left"></i> Back to Home page</h6>
    </a>

</body>
</html>