{% extends "socialShout/base.html" %}
{% load static %}


{% block title %}Socialshot{% endblock title %}

{% block head %}
{% endblock head %}

{% block content %}


<div class="alert alert-success" role="alert">
  <h4>Click one of the following buttons if your problem is related to it!</h4>
</div>
<div class="container">
{% if messages %}
{% for message in messages %}
{% if message.tags == 'success' %}
<div class="alert alert-success" style="text-align: center;" role="alert">
    {{message}}
</div>
{% endif %}
{% if message.tags == 'error' %}
<div class="alert alert-danger" style="text-align: center;" role="alert">
    {{message}}
</div>
{% endif %}
{% endfor %}
{% endif %}

<div class="container">
  {% for cc1 in complaint_category %}
  <div class="jumbotron">
    <h5>If you have problem regarding {{cc1.name}}!</h5>
    <br>
    <a class="btn btn-primary btn-lg" href="subproblems/{{cc1.name}}/{{cc1.id}}/" id="openwater" role="button">Click me</a>
  </div>
  {% endfor %}
</div>
{% endblock content %}

{% block footer %}

{% endblock footer %}