{% extends "socialShout/base.html" %}
{% load static %}


{% block title %}BookBroker{% endblock title %}

{% block head %}
{% endblock head %}

{% block content %}


<div class="alert alert-success" role="alert">
  <h4>Click one of the following buttons if your problem is related to it!</h4>
</div>
<div class="container">
  <div class="jumbotron">
    <h5>If you have problem regarding water!</h5>
    <br>
    <a class="btn btn-primary btn-lg" href="/socialshout/subcatagory.html" id="openwater" role="button">Click me</a>
  </div>
  <div class="jumbotron">
    <h5>If you have problem regarding garbage collection!</h5>
    <br>
    <a class="btn btn-primary btn-lg" href="/socialshout/subcatagory.html" id="opengarbage" role="button">Click me</a>
  </div>
  <div class="jumbotron">
    <h5>If you have problem regarding electricity!</h5>
    <br>
    <a class="btn btn-primary btn-lg" href="/socialshout/subcatagory.html" id="openelectricity" role="button">Click
      me</a>
  </div>
  <div class="jumbotron">
    <h5>If you have problem regarding road construction!</h5>
    <br>
    <a class="btn btn-primary btn-lg" href="/socialshout/subcatagory.html" id="openroad" role="button">Click me</a>
  </div>
  <div class="jumbotron">
    <h5>If you have problem regarding the safety in your locality!</h5>
    <br>
    <a class="btn btn-primary btn-lg" href="/socialshout/subcatagory.html" id="opensafety" role="button">Click me</a>
  </div>

</div>
{% endblock content %}

{% block footer %}

{% endblock footer %}