{% extends "socialShout/base.html" %}
{% load static %}


{% block title %}Social Shout{% endblock title %}

{% block head %}
<script src="{% static 'js/otp.js' %}"></script>
<script>
    var _validFileExtensions = [".pdf"];    
    function validateform() {
      const fi = document.getElementById('file2');
      const fi1 = document.getElementById('file2');
 
      // Check if any file is selected. 
      if (fi.files.length > 0) {
        fileName = fi.value; 
        extension = fileName.split('.').pop();
        if (extension  == "png" || extension == "JPEG" || extension =="jpg" || extension =="jpeg" ||  extension =="gif")
        {
        for (const i = 0; i <= fi.files.length - 1; i++) {

          const fsize = fi.files.item(i).size;
          const file = Math.round((fsize / 1024));
          // The size of the file. 
          if (file > 2100) {
            alert(
              "File too Big, please select a file less than 2mb");
            return false;
          } else if (file < 100) {

            alert(
              "File too small, please select a file greater than 100kb");
            return false;
          }
        }
      }
      else
      {
        alert(
          "File is invalid , please select a image file");
        return false;
      }
      }
      // Check if any file is selected. 
      if (fi1.files.length > 0) {
        fileName = fi.value; 
        extension = fileName.split('.').pop();
        if (extension  == "png" || extension == "JPEG" || extension =="jpg" || extension =="jpeg" ||  extension =="gif")
        {

        for (const i = 0; i <= fi1.files.length - 1; i++) {

          const fsize = fi1.files.item(i).size;
          const file = Math.round((fsize / 1024));
          // The size of the file. 
          if (file >= 2100) {
            alert(
              "File too Big, please select a file less than 2mb");
            return false;
          } else if (file < 100) {

            alert(
              "File too small, please select a file greater than 100kb");
            return false;
          }
        }
      }
      else{
        alert(
          "File is invalid , please select a image file");
        return false;
      }
      }
    }
  </script>
{% endblock head %}

{% block content %}


<div class="alert alert-success" role="alert">
    <h4 class="alert-heading">We Welcome you and ready to serve you!</h4>
    <p>Please fill the following form to register your complain.</p>
    <hr>
    <p class="mb-0">Please make sure that your problem is not fake, if it is so then you need to pay the fine Rs
        2000/-(if you refuse to pay then your case will be handed over to the police.</p>
</div>
<div class="container">
  {% if messages %}
  {% for message in messages %}
  {% if message.tags == 'success' %}
  <div class="alert alert-success" style="text-align: center;" role="alert">
      {{message}}
  </div>
  {% endif %}
  {% if message.tags == 'error' %}
  <div class="alert alert-danger" style="text-align: center;" role="alert">
      {{message}}
  </div>
  {% endif %}
  {% endfor %}
  {% endif %}

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/">Home</a></li>
          <li class="breadcrumb-item"><a href="/subproblems/{{mainproblem_name}}/{{main_id}}/">{{mainproblem_name}}</a></li>
          <li class="breadcrumb-item active" aria-current="page">{{subproblem_name}}</li>
        </ol>
      </nav>
    <br>
    <h3 class="text-center">Register Your Complain</h3>
    <br>
    <form action="/problems_form_submit/{{main_id}}/{{sub_id}}/" onsubmit="return validateform()" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
            <label for="name">Full Name*</label>
            <input type="text" name="fullname" id="fullname" class="form-control"
                placeholder="Yourname Fathername Surname" required>
        </div>
        <div class="form-group">
            <label for="inputEmail4">Email*</label>
            <input type="email" id="email" name="email" class="form-control" placeholder="xyz@something" required>
        </div>
        <div class="form-group">
            <label for="inputAddress">Address*</label>
            <textarea class="form-control" id="inputAddress" name="inputaddress" rows="4" required></textarea>
        </div>
        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="contactno1">Contact number*</label>
                <input type="tel" name="contactno1" id="contactno1" class="form-control"
                    placeholder="Enter your contact number" required>
            </div>
            <div class="form-group col-md-4">
                <label for="contactno2">Alternate contact number</label>
                <input type="tel" name="contactno2" id="contactno2" class="form-control"
                    placeholder="Enter your another contact number">
            </div>
            <div class="form-group col-md-4">
                <label for="aadharno">Aadhar number</label>
                <input type="text" name="aadharno" id="aadharno" class="form-control"
                    placeholder="Enter your aadhar card number" required>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-2">
                <label for="inputPincode">Pincode</label>
                <input type="text" class="form-control" id="pincode" name="pincode" required>
            </div>
            <div class="form-group col-md-6">
                <label for="inputCity">City</label>
                <input type="text" class="form-control" id="inputcity" name="inputcity" required>
            </div>
            <div class="form-group col-md-4">
                <label for="inputaddress"><strong>State</strong></label>
                <select name="state" class="form-control custom-select" required>
                    <option value="Maharashtra" selected>Maharashtra</option>
                    <option value="Andaman and Nicobar Islands union territory">Andaman and Nicobar Islands union territory
                    </option>
                    <option value="Andhra Pradesh">Andhra Pradesh</option>
                    <option value="Arunachal Pradesh">Arunachal Pradesh</option>
                    <option value="Assam">Assam</option>
                    <option value="Bihar">Bihar</option>
                    <option value="Chandigarh">Chandigarh</option>
                    <option value="Chhattisgarh">Chhattisgarh</option>
                    <option value="Dadra and Nagar Haveli and Daman and Diu">Dadra and Nagar Haveli and Daman and Diu
                    </option>
                    <option value="Delhi">Delhi</option>
                    <option value="Goa">Goa</option>
                    <option value="Gujarat">Gujarat</option>
                    <option value="Haryana">Haryana</option>
                    <option value="Himachal Pradesh">Himachal Pradesh</option>
                    <option value="Jammu and kashmir">Jammu and kashmir</option>
                    <option value="Jharkhand">Jharkhand</option>
                    <option value="Karnataka">Karnataka</option>
                    <option value="Kerala">Kerala</option>
                    <option value="Ladakh">Ladakh</option>
                    <option value="Lakshadweep">Lakshadweep</option>
                    <option value="Madhya Pradesh">Madhya Pradesh</option>
                    <option value="Maharashtra">Maharashtra</option>
                    <option value="Manipur">Manipur</option>
                    <option value="Meghalaya">Meghalaya</option>
                    <option value="Mizoram">Mizoram</option>
                    <option value="Nagaland">Nagaland</option>
                    <option value="Odisha">Odisha</option>
                    <option value="Puducherry">Puducherry </option>
                    <option value="Punjab">Punjab</option>
                    <option value="Rajasthan">Rajasthan</option>
                    <option value="Sikkim">Sikkim</option>
                    <option value="Tamil Nadu">Tamil Nadu</option>
                    <option value="Telangana">Telangana</option>
                    <option value="Tripura">Tripura</option>
                    <option value="Uttar Pradesh">Uttar Pradesh</option>
                    <option value="Uttarakhand">Uttarakhand</option>
                    <option value="West Bengal">West Bengal</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="inputEmail4">Your Complaint</label>
            <input type="text" id="complaint" name="complaint" class="form-control" value="{{subproblem_name}}">
        </div>
        <div class="form-group">
            <label for="exampleFormControlFile1">Upload your Aadhar card image</label>
            <input type="file" class="form-control-file1" id="file1" name="file1" required>
        </div>
        <div class="form-group">
            <label for="exampleFormControlFile1">Upload the image of scene for which you are registering the
                complaint</label>
            <input type="file" class="form-control-file1" name="file2" id="file2">
        </div>
        <!-- <button type="Submit" class="btn btn-primary" data-toggle="modal"
            data-target="#staticBackdrop">Complaint Your Register</button> -->
        <button type="Submit" class="btn btn-primary" >Complaint Your Register</button>
    </form>
    <br>

    <!-- Modal -->
    <!-- <div class="modal fade" id="staticBackdrop" data-backdrop="static" tabindex="-1" role="dialog"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Enter your OTP to proceed further</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="inputCity">Enter OTP: </label>
                        <input type="text" class="form-control" id="inputotp" name="inputotp">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Submit</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Resend</button>
                </div>
            </div>
        </div>
    </div> -->
</div>

{% endblock content %}

{% block footer %}

{% endblock footer %}